doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="format-detection", content="telephone=no")
  
  title Boilerplate
  
  link(rel="stylesheet" href="./css/main.css")
  
  script(src="js/script.js")
body
  h1 Hello
  p This is boilerplate jade stylus 
